/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 de mar. de 2023, 23:33:27
    Author     : BRENO
*/

.input-group{
    align-items: center;
    border: solid black 1px;
    justify-content: center;
    display: flex;
}